body {
  background-color: rgba(102, 194, 151, 0.754);
}

.column-one{
  margin-left: 44%;
  margin-bottom: 25px;
}

.profile-image {
  width: 165px;
  margin-left: -15px;
  border: 7px solid teal;
  outline-style: none;
}

p {
  font-family: 'Times New Roman';
}

div {
  border-radius: 15px;
}

h1{
  margin-left: 38%;
  margin-bottom: 18px;
  font-style: italic;
}