body, html {
  height: 100%;
  background-color: rgb(29, 32, 33);
}

.bgimg-1 {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 50%;
  padding: 50px;
  }

.column-one{
  margin-left: 38%;
  margin-right: 38%;
  margin-bottom: 25px;
  margin-top: 15px;
}

p {
  font-family:"Calibri";
}

h1{
  font-style: italic;
}

h4{
  font-family: 'Arial Narrow';
}

.img{
  width: 145px;
  height: 175px;
  margin-top: 4px;
}

span {
  display: inline-block;
  width: 165px;
  height: 192px;
}

section .bg-white{
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 750px;
  border-radius: 15px;
}

footer{
  width: 100%;
  text-align: center;
}

.fa-facebook {
  background: #ffffff;
  color: rgb(56, 70, 135);
}

.fa-instagram {
  background: #ffffff;
  color: rgb(169, 40, 102);
}