body, html {
  height: 100%;
  background-color: rgba(36, 43, 46, 0.978);
}

.bgimg-1 {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 50%;
  }

.column-one{
  margin-left: 38%;
  margin-right: 38%;
  margin-bottom: 25px;
}

p {
  font-family: 'Times New Roman';
}

h1{
  font-style: italic;
}

.img{
  width: 125px;
  height: 150px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 25%;
}

section{
  margin-left: 35px;
  margin-right: 750px;
}

footer{
  padding: 15px;
  box-sizing: content-box;
}